

body,html {
	height: 100%;
}

* {
	box-sizing: border-box;
}


.bg-image {
	background-image: url("image.png");
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.blur-text {
	color: white;
	font-weight: bold;
	position: absolute;
	font-size: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 10%;
	padding: 10px;
	text-align: center;
}

.about-us {
	padding: 100px;
	text-align: center;
	background-color: #474e5d;
	color: white;
}

.bg-image2 {
	background-image: url('https://cdn.discordapp.com/attachments/984497643113824356/990557291340255302/2022-06-26_11.59.31.png');
	height: 80vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.our-team {

	padding: 100px;
	text-align: center;
	background-color: #474e5d;
	color: white;
}

#btn1 {
	border: none;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	z-index: 2;
	font-size: 16px;
	margin: 4px 2px;
	width: 10%;
	transition: color 0.3s ease-out, border-color 0.3s ease-out;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	top: 70%;
	right: 49%;
	transform: translate(-50%, -50%);
	z-index: 2;
}


#btn2 {
	border: none;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	z-index: 2;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	width: 10%;
	top: 70%;
	right: 38%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#btn3 {
	border: none;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	z-index: 2;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: transparent;
	position: absolute;
	width: 10%;
	top: 70%;
	right: 27%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#btn1 {
	color: white;
	border: 2px solid white;
}

#btn1:hover {
	color: black;
	background-color: lightblue;
}

#btn2 {
	color: white;
	border: 2px solid white;
}

#btn2:hover {
	color: black;
	background-color: lightblue;
}

#btn3 {
	color: white;
	border: 2px solid white;
}

#btn3:hover {
	color: black;
	background-color: lightblue;
}


@media(max-width:760px) {
	.btn {
		min-width: 200px;
		text-align: center;
	}
	.btn-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

}

@media(max-width:769px) {
	.btn {
		min-width: 400px;
		text-align: center;
	}
	.btn-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
	}

}





/*
About me TEAM section
*/

.img1 {
	border-radius: 55%;
	width:200px;
	height:200px;
	position: relative;
	left: 25%;
}

.img2 {
	border-radius: 55%;
	width:200px;
	height:200px;
	position: relative;
	left: 25%;
}

.img3 {
	border-radius: 55%;
	width:200px;
	height:200px;
	position: absolute;
	top: 142%;
	right:65%;
}

.img4 {
	border-radius: 55%;
	width:200px;
	height:200px;
	position: absolute;
	top: 175%;
	right:65%;
}

.txt1 {
	position: relative;
	left: 25%;
}

.txt2 {
	position: relative;
	left: 25%;
}

.txt3 {
	position: absolute;
	right: 65.5%;
	top: 163%;

}

.txt4 {
	position: absolute;
	right: 66.8%;
	top: 196%;

}


.title {
	color: gray;

}
